<section class="section bg-light" id="contact"
    style="background: url(assets/layout/images/contact-bg.png); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-lg-8 text-center">
                <h2 class="text-dark mb-3">{{heading}}</h2>
            </div>
        </div>
        <form name="myForm" action="#">
            <span id="error-msg"></span>
            <div class="row">
                <div class="col-12 mt-4 pt-2">
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="fw-medium form-label" for="name">Numero : 06 20 25 27 61</label>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="fw-medium form-label" for="email">Email : Cabinetblanchardrecouvrement@gmail.com</label>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="fw-medium form-label" for="subject">Adresse</label>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="fw-medium form-label" for="number"></label>
                        </div>
                        <div class="col-12 mb-3">
                            <label class="fw-medium form-label" for="comments"></label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
